.cf-container {
    position: absolute;
    width: 100%;
    height: 100%;

    background: url( ../images/background.jpg ) no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 2s ease;
    opacity: 0;
    overflow: hidden;
}

.cf-visible {
    opacity: 1;
}

.cf-webgl {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* sticker */

.cf-sticker {
    position: absolute;
    left: 0;
    top: 0;

    color: #3c3c3c;
    width: 320px;

    pointer-events: none;
    transition: transform 1.0s ease;
    transform: translate(-50%, -50%);
}

.cf-sticker-transform-large {
    left: 40.7%;
    top: 50.3%;
    transform: translate(-50%, -50%) scale(1.42);
}

.cf-sticker-transform-small {
    left: 3.00%;
    top: -0.90%;
    transform: scale(0.50);
}

/* links */

.cf-links {
    position: absolute;
    top: 4.62%;
    right: 6.60%;
    color: #3c3c3c;
}

.cf-links ul {
    margin: 0;
}

.cf-links li {
    list-style: none;
    display: inline-block;

    //font: 400 16px 'Roboto Slab';
    font: 400 21px helvneue;
    padding: 0 20px;
}

.cf-links :not(:last-child) {
    border-right: 1px solid #888;
}

.cf-links a {
    color: #444;
    //text-transform: uppercase;
    text-decoration: none;
}

.cf-links a:hover {
    text-decoration: underline;
}

/* instructions */

.cf-lower-third {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    pointer-events: none;
}

.cf-instruction {
    font: 400 21px helvneue;
    color: #333;
    transition: color 1s ease-out;
    text-align: center;
    text-transform: uppercase;
}

.cf-instruction-charged {
    color: #115FA5;
}

.cf-charger {
    position: relative;
    display: block;
    height: 2px;
    background-color: #989898;
    width: 0%;  /* not loaded */
    margin: 10px 0;
    transition: width 0.5s ease-out;
}

.cf-charger-blue {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    height: 100%;
    width: 0%;
    transition: width 1s ease-out;
    background-color: #115FA5;
}

.cf-charger-charged {
    width: 100%;
}

.cf-description {
    text-align: center;
    font: 38px neutraface;
    max-width: 750px;
    color: #333;
    height: 100px;
}

/* experienced */

.cf-experienced-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* filter: blur(50px); */

    display: flex;
    align-items: center;
    justify-content: center;
}

.cf-experienced-container {
    //background-color: rgba(255,0,0, 0.2);
    width: 90%;
    max-width: 750px;
}

.cf-experienced {
    color: #3c3c3c;
}

.cf-experienced-headline {
    text-align: center;
    font: 22px helvneue;
    text-transform: uppercase;
    color: #3c3c3c;
    margin-bottom: 25px;
    //background-color: rgba(0,0,255, 0.2);
}

.cf-experienced {
    font: 38px neutraface;
    color: #3c3c3c;
    line-height: 125%;
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 30px 0;
}

.cf-experienced-close-bar {
    position: relative;
    top: 70px;
    text-align: center;
    //background-color: rgba(0,0,255, 0.2);
}

.cf-experienced-close-icon {
    height: 30px;
}

/* loading */

.cf-loading {
    position: absolute;
    left: 50%;
    bottom: 108px;
    transform: translate(-50%, 0);

    font: 300 21px helvneue;
    color: #3c3c3c;
    text-transform: uppercase;

    pointer-events: none;
}

.cf-webgl-blurred {
    filter: blur(30px);
    opacity: 0.3;
}
