.glsl-error {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    font-family: iosevka, monospace;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
}

.description {
    color: #f00;
    font-weight: bold;
}

.highlight {
    background-color: #048;
}

code {
    white-space: pre-wrap;
    word-wrap: normal;
}
